

body{
    background-color:#FFE3E1;
}
div{
    margin-top: 6%;
    margin-left: 29%;
    margin-right: 20%;
   background-color:#7FBCD2;
   padding:4%;
   width: 33%; 
}
h1{
    margin-top: 22%;
    text-align: center;
    
}


  